/* SEÇÃO DE ESPOSIÇÃO */

.expo {
    background-color: var(--primary-color-ebony);
    color: #f5e3c1;
    padding: 85px 0;
}

.above {
    background-color: #6d5656;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 275px;
    height: 25px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons-blog {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.buttons-blog .button-blog {
    display: inline-block;
    border: none;
    border-radius: 50px;
    width: auto;
    padding: 9px 18px;
    margin: 0;
    white-space: nowrap;
    background-color: #f5e3c1;
    color: var(--primary-color-ebony);
    font-weight: 600;
    cursor: pointer;
}

/* SEÇÃO DE EM DESTAQUE E POPULARES */

.contents {
    padding: 50px;
    display: flex;
}

.onHipe {
    width: 750px;
    margin-right: 200px;
}

.onHipe h2 {
    margin-bottom: 20px;
}

.onHipe img {
    width: 775px;
    border-radius: 8px;
}

.dateHipe {
    gap: 6px;
}

.infoBar {
    display: flex;
    justify-content: space-between;
}

.infoBar {
    padding-top: 10px;
    padding-bottom: 10px;;
}

.infoBar div {
    display: flex;
}

/* MOST POPULARS */

.mostPopulars img {
    width: 104px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.miniArticles {
    display: flex;
    width: 375px;
    border-bottom: solid 3px var(--text-color-mochaearth);
    margin-top: 20px;
    color: var(--text-color-mochaearth);
}

.MAContent {
    margin-left: 20px;
    padding: 5px;
}

.MACategory {
    margin-bottom: 10px;
}

.MATitle {
    color: black;
}

.dateMArticles {
    display: flex;
    font-size: 15px;
    color: black;
    gap: 6px;
    margin-top: 5px;
}

