/* SEÇÃO DE ESPOSIÇÃO */

.expo {
    background-color: var(--primary-color-ebony);
    color: var(--color-allstar-encardido);
    padding: 60px 0;
}

.above {
    background-color: var(--color-allstar-encardido);
    color: var(--primary-color-ebony);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 300px;
    height: 25px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons-blog {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.buttons-blog .button-blog {
    display: inline-block;
    border: none;
    border-radius: 50px;
    width: auto;
    padding: 9px 18px;
    margin: 0;
    white-space: nowrap;
    background-color: var(--color-allstar-encardido);
    color: var(--primary-color-ebony);
    font-weight: 600;
    cursor: pointer;
}

/* EM DESTAQUE */

.contents {
    padding: 50px;
    display: flex;
}

.onHipe {
    width: 750px;
    margin-right: 200px;
}

.onHipe h2 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-color-ebony);
}

.onHipe img {
    width: 790px;
    border-radius: 10px;
}

.category-inforBar {
    color: var(--primary-color-ebony);
    font-size: 16px;
    font-weight: 500;
}

.dataHipe i {
    color: var(--primary-color-ebony);
    font-size: 10px;
}

.dateHipe, .dateMArticles, .datePoesias {
    display: flex;
    font-size: 14px;
   
    gap: 6px;
    margin-top: 5px;
}

.infoBar {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color-ebony);
}

.infoBar {
    padding-top: 10px;
    padding-bottom: 10px;;
}

.infoBar div {
    display: flex;
}

.onHipe h3 {
    color: var(--primary-color-ebony);
    font-size: 20px;
    font-weight: 600;
}

/* MAIS POPULARES */

.mostPopulars h3 {
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-color-ebony);
}

.mostPopulars img {
    width: 104px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.miniArticles {
    display: flex;
    width: 375px;
    border-bottom: solid 2px var(--primary-color-ebony);
    margin-top: 17px;
    color: var(--text-color-mochaearth);
}

.MAContent {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color-ebony);
}

.MACategory {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color-ebony);
}

.MATitle {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color-ebony);
}

/* POESIAS POSTADAS*/

.articles {
    padding: 50px;
}

.topLine {
    display: flex;
    justify-content: space-between;
}

.topLine h2 {
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-color-ebony);
}

.searches {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search {
    height: 32px;
    width: 280px;
    text-indent: 10px;
    color: var(--primary-color-ebony);
    font-family: 'Inter';
    background-color: var(--background-color-vanillacream);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: solid 2px var(--primary-color-ebony);
}

.search:focus {
    outline: none;
    box-shadow: none;
}

.searches div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--background-color-vanillacream);
    background-color: var(--primary-color-ebony);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.poesias {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    column-gap: 250px;
    row-gap: 3rem;
    padding-top: 30px;
    padding-right: 20rem;
}

.poesia {
    max-height: 280px;
}

.poesia img {
    max-width: 384px;
    max-height: 320px;
    border-radius: 5px;
}

.PCategory {
    margin-top: 3px;
    margin-bottom: 5px;
    color: var(--text-color-mochaearth);
    font-weight: 500;
    font-size: 14px;
}

.PTitle {
    color: #0000006e;
}