/* SEÇÃO DE ESPOSIÇÃO */

.expo {
    background-color: var(--primary-color-ebony);
    color: var(--secundary-color-tearose);
    padding: 85px 0;
}

.above {
    background-color: #6d5656;
    font-weight: 500;
    width: 275px;
    height: 25px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    background-color: var(--secundary-color-tearose);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 18px;
    margin: 0 3px;

}

/* SEÇÃO DE EM DESTAQUE E POPULARES */