footer {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color-ebony);
    padding: 20px;
    color: #f5e3c1;
    margin-top: 40px;
}

.primeiraLinha, .segundaLinha {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 5px;
}