footer {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color-ebony);
    padding: 20px;
    color: #f5e3c1;
    margin-top: 40px;
}

.primeiraLinha, .segundaLinha {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 5px;
}

.seta {
    padding-left: 1400px;
}

.seta i {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
}
