header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-ebony);
    color: #f5e3c1;
    position: sticky;
    top: 0;
}

.logotitulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
}

.logo {
    width: 120px;
    height: auto;
}

.titulo {
    font-size: 24px;
    font-weight: 700;
}

.navigator ul {
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 5rem;
}

.navigator ul li {
    margin-left: 3rem;
}

.navigator ul li a {
    text-decoration: none;
    color: #f5e3c1;
    font-size: 18px;
    font-weight: 600;
}