header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-ebony);
    color: var(--color-allstar-encardido);
}

.logotitulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
}

.logo {
    width: 120px;
    height: auto;
}

.titulo {
    font-size: 24px;
    font-weight: 700;
}

.navigator ul {
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 5rem;
}

.navigator ul li {
    margin-left: 3rem;
    position: relative;
}

.navigator ul li a {
    text-decoration: none;
    color: var(--color-allstar-encardido);
    font-size: 18px;
    font-weight: 600;
    position: relative; 
}

.navigator ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0%;
    height: 2px;
    background: currentColor;
    transition: width 0.45s ease;
}

.navigator ul li a:hover::after {
    width: 100%;
}

/* Responsividade */
@media (max-width: 400px) {
    /* Mobile */
}

@media (max-width: 768px) {
    .logotitulo {
        padding-left: 1rem;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    .titulo {
        font-size: 22px;
    }

    .navigator ul {
        margin-top: 10px;
        padding-right: 2rem;
    }

    .navigator ul li {
        margin-left: 1rem;
    }

    .navigator ul li a {
        font-size: 16px;
    }
}