/*
Desktop:
*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-ebony);
    color: var(--color-allstar-encardido);
}

.logotitulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
}

.logo {
    width: 120px;
    height: auto;
}

.titulo {
    font-size: 24px;
    font-weight: 700;
}

.navigator ul {
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 5rem;
}

.navigator ul li {
    margin-left: 3rem;
    position: relative;
}

.navigator ul li a {
    text-decoration: none;
    color: var(--color-allstar-encardido);
    font-size: 18px;
    font-weight: 600;
    position: relative; 
}

.navigator ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0%;
    height: 2px;
    background: currentColor;
    transition: width 0.45s ease;
}

.navigator ul li a:hover::after {
    width: 100%;
}

/*
Responsividade:
*/

@media (max-width: 768px) {

    /* Tablet */

    .logotitulo {
        padding-left: 1rem;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    .titulo {
        font-size: 22px;
    }

    .navigator ul {
        margin-top: 10px;
        padding-right: 2rem;
    }

    .navigator ul li {
        margin-left: 1rem;
    }

    .navigator ul li a {
        font-size: 16px;
    }
}

@media (max-width: 400px) {

    /* Celular */

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem 0;
        box-sizing: border-box;
    }

    .logotitulo {
        padding-left: 0;
        width: 100%;
        justify-content: center;
        gap: 10px;
        text-align: center;
        margin-right: 2rem;
    }

    .logo {
        width: 80px;
        flex-shrink: 0;
    }

    .titulo {
        font-size: 22px;
        line-height: 1.2;
    }

    .navigator {
        width: 100%;
    }

    .navigator ul {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin: 10px 0 5px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .navigator ul li {
        margin: 0;
    }

    .navigator ul li a {
        font-size: 14px;
        white-space: nowrap;
    }
}