.header-admin {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo-admin {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 120px;
}

.logo-admin {
    width: 120px;
    height: auto;
}

.logotipo-admin h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-allstar-encardido);
}

.mensagem-admin p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-allstar-encardido);
}

.logout-admin a {
    font-size: 28px;
    color: var(--color-allstar-encardido);
    display: inline-block;
}

.logout-admin a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.lado-esquerdo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 120px;
}

/*°。°。°。°。°。°。。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°。°°。°。°。°°。°。°。°。。°。°。°。°。°°。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°*/

.main-admin {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.minhas-publicacoes {
    width: 90%;
    max-width: 1200px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minhas-publicacoes h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color-ebony);
}

.minhas-publicacoes button {
    background-color: var(--primary-color-ebony);
    color: var(--background-color-vanillacream);
    border: none;
    border-radius: 10px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.minhas-publicacoes button:hover,
.minhas-publicacoes button:focus {
    transform: scale(1.03);
    background: #444a40;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

/*°。°。°。°。°。°。。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°。°°。°。°。°°。°。°。°。。°。°。°。°。°°。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°*/

/* Estado preenchido: */

.lista-publicacoes {
    width: 90%;
    max-width: 1200px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
}

.post-admin {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.post-admin img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.post-admin h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--primary-color-ebony);
    margin-top: 10px;
    margin-bottom: 6px;
}

.post-admin p {
    font-size: 16px;
    color: rgb(98, 94, 94);
    margin-bottom: 10px;
}

.post-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-details p {
    font-size: 14px;
    color: rgb(98, 94, 94);
}

.post-details i {
    color: var(--primary-color-ebony);
}

.buttons-post-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttons-post-admin button {
    color: var(--background-color-vanillacream);
    border: none;
    border-radius: 8px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; 
}

.button-editar-post:hover,
.button-editar-post:focus {
    transform: scale(1.03);
    background: #444a40;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.button-excluir-post:hover,
.button-excluir-post:focus {
    transform: scale(1.03);
    background: #7c2b2b;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}


.button-editar-post {
    background-color: var(--primary-color-ebony);
}

.button-excluir-post {
    background-color: #5c2121;
}

.carregar-mais-admin {
    margin-top: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button-carregar-mais-admin {
    background-color: transparent;
    color: var(--primary-color-ebony);
    border: solid 2px var(--primary-color-ebony);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.button-carregar-mais-admin:hover {
    background-color: var(--primary-color-ebony);
    color: var(--background-color-vanillacream);
}

.button-carregar-mais-admin:active {
    background-color:  var(--primary-color-ebony);
}

/*°。°。°。°。°。°。。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°。°°。°。°。°°。°。°。°。。°。°。°。°。°°。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°*/

/* Modal */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 20, 0.85);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background: #fff;
  width: 90%;
  max-width: 480px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  animation: slideUp 0.4s ease;
}

.modal-header {
  padding: 20px 24px;
}

.MHeader-content {
  display: flex;
  justify-content: space-between;
}

.modal-header h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color-ebony);
}

.modal-header p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color-ebony);
}

.close-btn {
  background: none;
  border: none;
  color: var(--primary-color-ebony);
  font-size: 1.5rem;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.modal-form {
    padding: 5px 24px 28px 24px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  color: var(--primary-color-ebony);
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 2px solid var(--primary-color-ebony);
  border-radius: 8px;
  color: var(--white);
  font-size: 14px;
  transition: border 0.2s;
}

#assunto {
  padding: 30px;
}

.input-group input:focus {
  outline: none;
  border-color: var(--primary-color-ebony);
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.btn-submit {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 0px;
  width: 25%;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  justify-content: center;
  background: var(--primary-color-ebony);
  color: #fff;
}

.btn-submit:hover {
  background: #444a40;
  transform: translateY(-1px);
}

.rank {
  border: 2px solid var(--primary-color-ebony);
  padding: 5px;
  border-radius: 7px;
}

.escrita-separada {
    position: absolute;
    margin-left: 510px;
    background-color: white;
    padding: 15px;
    border-radius: 16px;
    transition: 0.5s;
    animation: slideUp 0.4s ease;
    animation: fadeIn 0.4s ease;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*°。°。°。°。°。°。。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°。°°。°。°。°°。°。°。°。。°。°。°。°。°°。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°*/

/* Estado vazio */

.nenhum-post {
    text-align: center;
    padding: 60px 355px;
    color: var(--text-color-mochaearth);
    background-color: var(--background-color-vanillacream);
    border-radius: 10px;
    border: 2px dashed rgba(139, 121, 105, 0.3);
    margin: 40px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.nenhum-post i.fa-feather-alt {
    font-size: 48px;
    margin-bottom: 25px;
    opacity: 0.6;
    color: var(--primary-color-ebony);
}

.nenhum-post h3 {
    color: var(--primary-color-ebony);
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.nenhum-post p {
    color: var(--primary-color-ebony);
    margin-bottom: 30px;
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.5;
    font-weight: 400;
}


/*°。°。°。°。°。°。。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°。°°。°。°。°°。°。°。°。。°。°。°。°。°°。°。°。°。°。°°。°。°。°。°。°。。°。°。°。°*/

/* Responsividade - TABLET */
@media (max-width: 768px) {
    /* Header */
    .header-admin {
        padding: 8px 15px;
    }

    .logotipo-admin {
        margin-left: 20px;
        gap: 10px;
    }

    .logo-admin {
        width: 80px;
        margin-left: 1rem;
    }

    .logotipo-admin h3 {
        font-size: 20px;
    }

    .mensagem-admin p {
        font-size: 16px;
    }

    .lado-esquerdo {
        margin-right: 20px;
        gap: 1.5rem;
    }

    .logout-admin a {
        font-size: 22px;
        margin-right: 1rem;
    }

    .main-admin {
        padding: 28px 40px;
    }

    /* Minhas publicações */
    .minhas-publicacoes {
        width: 95%;
        margin-top: 20px;
        flex-direction: row;
        gap: 15px;
        align-items: flex-start;
    }

    .minhas-publicacoes h3 {
        font-size: 24px;
    }

    .minhas-publicacoes button {
        padding: 10px 12px;
        font-size: 14px;
    }

    /* Modal */
    .modal {
        width: 95%;
        max-width: 400px;
    }

    .modal-header {
        padding: 15px 20px;
    }

    .modal-header h2 {
        font-size: 20px;
    }

    .modal-header p {
        font-size: 14px;
    }

    .modal-form {
        padding: 5px 20px 20px 20px;
    }

    .input-group label {
        font-size: 16px;
    }

    .btn-submit {
        width: 30%;
        font-size: 16px;
        padding: 10px 0;
    }

    /* Estado vazio */
    .nenhum-post {
        padding: 0px 118px;
        margin: 15px 0px;
        min-height: 300px;
    }

    .nenhum-post i.fa-feather-alt {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .nenhum-post h3 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .nenhum-post p {
        font-size: 16px;
    }

    /* Estado preenchido */
    .lista-publicacoes {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
    }

    .post-admin h3 {
        font-size: 18px;
    }

    .post-admin p {
        font-size: 14px;
    }

    .buttons-post-admin {
        gap: 1rem;
    }

    .buttons-post-admin button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .button-carregar-mais-admin {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Responsividade - MOBILE */
@media (max-width: 400px) {
    /* Header */
    .header-admin {
        padding: 6px 10px;
        flex-direction: row;
        gap: 10px;
    }

    .logotipo-admin {
        margin-left: 16px;
        gap: 8px;
    }

    .logo-admin {
        width: 60px;
    }

    .logotipo-admin h3 {
        opacity: 0;
        font-size: 0;
    }

    .mensagem-admin p {
        font-size: 12px;
        text-align: center;
    }

    .lado-esquerdo {
        margin-right: 0;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        margin-left: 30px;
    }

    .logout-admin a {
        font-size: 20px;
    }

    .main-admin {
        padding: 10px 35;
    }

    /* Minhas publicações */

    .minhas-publicacoes {
        width: 90%;
        margin-top: 15px;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        text-align: center;
    }

    .minhas-publicacoes h3 {
        font-size: 18px;
        margin-left: 0;
    }

    .minhas-publicacoes button {
        padding: 8px 14px;
        font-size: 12px;
    }

    /* Modal */
    .modal {
        width: 98%;
        max-width: 350px;
    }

    .modal-header {
        padding: 12px 15px;
    }

    .modal-header h2 {
        font-size: 18px;
    }

    .modal-header p {
        font-size: 12px;
    }

    .modal-form {
        padding: 5px 15px 15px 15px;
    }

    .input-group label {
        font-size: 14px;
    }

    .input-group input {
        padding: 10px;
        font-size: 12px;
    }

    #assunto {
        padding: 20px;
    }

    .btn-submit {
        width: 30%;
        font-size: 14px;
        padding: 8px 0;
    }

    /* Estado vazio */
    .minhas-publicacoes {
      flex-direction: row;
      margin-top: 1rem;
    }

    .minhas-publicacoes h3 {
        font-size: 16px;
    }

    .minhas-publicacoes button {
        padding: 10px 10px;
        font-size: 12px;
        margin-right: -3px;
    }

    .nenhum-post {
        padding: 30px 15px;
        margin: 0px 10px;
        min-height: 250px;
    }

    .nenhum-post i.fa-feather-alt {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .nenhum-post h3 {
        font-size: 14px;
    }

    .nenhum-post p {
        font-size: 10px;
    }

    /* Estado preenchido */
    .lista-publicacoes {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .post-admin h3 {
        font-size: 16px;
    }

    .post-admin p {
        font-size: 12px;
    }

    .post-details {
      gap: 6px;
    }

    .post-details p {
      font-size: 12px;
    }

    .buttons-post-admin {
      gap: 0.8rem;
      flex-direction: row;
      width: 100%;
    }

    .buttons-post-admin button {
      padding: 10px 40px;
      font-size: 12px;
      width: 26%;
      justify-content: center;
    }

    .carregar-mais-admin {
        margin-top: 1.5rem;
    }

    .button-carregar-mais-admin {
        padding: 6px 12px;
        font-size: 12px;
    }
}