* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root {
    --primary-color-ebony: #555D50;
    --secundary-color-tearose: #F4C2C2;
    --background-color-vanillacream: #F0E7D5;
    --text-color-mochaearth: #4B3935;
    --color-allstar-encardido: #f5e3c1;
}

body {
    background-color: var(--background-color-vanillacream);
}