.caixote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 10vh auto;
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid var(--primary-color-ebony);
    background-color: var(--background-color-vanillacream);
}

.titulo-contato {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-color-ebony);
}

.subtitulo-contato {
    color: var(--primary-color-ebony);
    width: 100%;
    font-weight: 600;
    margin-top: 10px;
}

.caixote input,
.caixote textarea {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid var(--primary-color-ebony);
    border-radius: 15px;
    background-color: var(--background-color-vanillacream);
    outline: none;
}

label {
    color: var(--primary-color-ebony);
    font-weight: 600;
}

.checkboxes {
    display: flex;
    column-gap: 2rem;
}

.checkboxes div {
    display: flex;
    align-items: center;
}

.checkboxes div label {
    margin-left: 6px;
    padding-bottom: 6px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--background-color-vanillacream);
    border: 2px solid var(--primary-color-ebony);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color-ebony);
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid var(--background-color-vanillacream);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.button-contato {
    background-color: var(--primary-color-ebony);
    color: var(--background-color-vanillacream);
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 120px;
    padding: 10px;
    margin: 20px auto 0 auto;
    display: block;
    transition: 0.3s ease;
}

.button-contato:hover,
.button-contato:focus {
    transform: scale(1.03);
    background: #444a40;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.logout-contato i {
    position: absolute;
    top: 150px;           
    right: 30px;         
    font-size: 28px;
    color: var(--primary-color-ebony);
    cursor: pointer;
}

.logout-contato i:hover {
    transform: scale(1.1);
    transition: 0.2s;
}