.contatar {
    background-color: var(--primary-color-ebony);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cabecalho {
    color: var(--text-color-mochaearth);
    padding: 40px 20px;
    text-align: center;
}

.imagem-sobre {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.sobre-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 30px;
}

.texto-container {
    max-width: 600px;
}
