.cabecalho {
    color: var(--text-color-mochaearth);
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;
}

.imagem-sobre {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.sobre-container {
    color: var(--text-color-mochaearth);
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 60px auto;
    justify-content: center;
}

.texto-container {
    max-width: 600px;
}

.cards, .profile {
    display: flex;
    gap: 25px;
    margin-left: 175px;
    color: white;
    padding: 15px;
    object-fit: cover;
}

.cards div, .profile div {
    background-color: var(--primary-color-ebony);
    border-radius: 12px;
    width: 355px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards div h3, .profile div h2 {
    margin-bottom: 15px;
}

.jornada-title {
    color: var(--text-color-mochaearth);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.jornada-content {
    color: var(--text-color-mochaearth);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.profile div img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.contatar {
    text-align: center;
    color: var(--text-color-mochaearth);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contatar div button {
    background-color: var(--primary-color-ebony);
    color: var(--background-color-vanillacream);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

