.cabecalho {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;
}

.imagem-sobre {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.sobre-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 40px auto;
    justify-content: center;
}

.texto-container {
    max-width: 600px;
}

.cards {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
    margin-left: 175px;
    color: white;
    padding: 10px;
    object-fit: cover;
}

.cards div {
    background-color: var(--primary-color-ebony);
    text-align: center;
    border-radius: 12px;
    width: 355px;
    height: 250px;
}

.cards img {
    margin-top: 25px;
    align-items: center;
    width: 100px;
    border-radius: 15px;
}

.jornada-title {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.jornada-content {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto 40px auto;
}


.profile {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 1px;
    margin-bottom: 50px;
    margin-left: 175px;
    color: white;
    padding: 10px;
}

.profile div {
    background-color: var(--primary-color-ebony);
    text-align: center;
    border-radius: 12px;
    width: 310px;
}

.profile img {
    align-items: center;
    width: 100px;
    border-radius: 15px;
}

.contatar {
    text-align: center;
    color: var(--text-color-mochaearth);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contatar div button {
    background-color: var(--primary-color-ebony);
    color: var(--background-color-vanillacream);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

