header {
    text-align: center;
    background-color: var(--primary-color-ebony);
    padding:b20px
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-content h5 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;

}
